// FONTS
$primary: 'Roboto';

// SUSY
// $susy: (
//     columns: 12,
//     container: 960px,
//     gutters: 1/4,
//     global-box-sizing: border-box,
//     debug: (image: hide)
// );

// Default Styles
body {
	background-color: $surge-bg;
	font-family: $primary, 'sans-serif';
	color: $semi-black;
}

h1,
h2 {
  margin: 0;
}
h1 {
  color: $semi-black;
  font-size: 25px;
  line-height: 1em;
  font-weight: normal;
  margin-bottom: 8px;
}
h2 {
  color: rgba($semi-black, 0.7);
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4em;
}
small {
  color: rgba($semi-black, 0.5);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2em;
}

.mf_clear-fix {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
}

.mf_content {
  background-color: $white;
}
