// FONTS
$primary: 'Roboto';

// Screen
$screen-width: 960px;

// SUSY
$susy: (
    columns: 12,
    container: 960px,
    gutters: 1/4,
    global-box-sizing: border-box,
    debug: (image: hide)
);

// Default Styles
body {
	background-color: $white;
	font-family: $primary, 'sans-serif';
	color: $black;
}

.mf_limit {
	max-width: $screen-width;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	&:before,
	&:after {
		@extend .mf_clear-fix;
	}
}

.mf_clear-fix {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
}