.mf_footer {
	background-color: $semi-black;
	color: $white;
	padding: gutter(5);
	text-align: center;

	span {
		display: block;
		font-size: 12px;
		line-height: 1em;
	}

	@media #{$breakpoint-medium} {
		// padding: gutter(9);
	}
}
