.mf_header {
	background-color: $kettle;
	text-align: center;
	padding: gutter(5);

	@media screen and (min-width: $screen-width) {
		padding: gutter(9);
	}

	h1,
	h2 {
		color: $white;
		line-height: 1em;
		margin: 0;
	}
	h1 {
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	h2 {
		font-weight: normal;
		font-size: 16px;
	}
}