.mf_address-list {
    margin: 0;
    padding: 8px 0;
    // -moz-column-count: 2;
    // -moz-column-gap: 2em;
    // -webkit-column-count: 2;
    // -webkit-column-gap: 2em;
    // column-count: 2;
    // column-gap: 2em;

    dt {
        color: $kettle;
        font-size: 16px;
        line-height: 1.6em;
        vertical-align: middle;

        &:after {
            @include mf_triangle-down($kettle,9px);
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }
    dd {
        border-top: 1px solid $semi-black;
        display: none;
        margin: 5px 0 10px;
        padding: 15px 0 0;
    }

    @media #{$breakpoint-medium} {
        // @include span(3);
        // display: inline-block;
    }
    ul {
        list-style-type: decimal;
        list-style-position: inside;
        margin: 0;
        padding: 0;

        li {
    	    font-size: 11px;
    	    line-height: 2em;
            text-transform: uppercase;
        }
    }
}
